<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SCM_WMS.Properties.Settings.ERP_HRConnectionString"
            connectionString="Data Source=AVL-ESQL01;Initial Catalog=ERP_HR;Persist Security Info=True;User ID=rNwUs@Ag;Password=a2sLs@Ag"
            providerName="System.Data.SqlClient" />
        <add name="SCM_WMS.Properties.Settings.ERP_InventoryConnectionString"
            connectionString="Data Source=AVL-ESQL01;Initial Catalog=ERP_Inventory;Persist Security Info=True;User ID=rNwUs@Ag;Password=a2sLs@Ag"
            providerName="System.Data.SqlClient" />
        <add name="SCM_WMS.Properties.Settings.ERP_AssetConnectionString"
            connectionString="Data Source=AVL-ESQL01;Initial Catalog=ERP_Asset;Persist Security Info=True;User ID=rNwUs@Ag;Password=a2sLs@Ag"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>